{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "no-console": "off",
    "no-underscore-dangle": "off"
  }
}
